.inputsDiv{
    display: flex;
    flex-direction: column;
}

.regularInput {
    margin-left: 100px;
    margin-bottom: 7px;
    height: 25px;
    margin-top: 20px;
    font-size: 20px;
    font-family: Rockwell;
    width: 300px;
}

.regularButton{
    width: 500px;
    height: 30px;
    margin-left: 20px;
}